<app-menu [schoolID]="schoolID"></app-menu>

<br>
<h3 class="text-center">Liste des classes</h3>
<br>
<li class="text-center"><a [routerLink]="['/schools/',schoolID,'clazzs','add']">Ajouter une classe</a></li>
<br>
<table *ngIf="clazzs.length > 0" class="table table-striped">
  <thead>
  <tr class="text-center">
    <th>Id</th>
    <th>Nom</th>
    <th>Professeur principal</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let clazz of clazzs">
    <td>{{ clazz.id }}</td>
    <td>{{ clazz.name }}</td>
    <td>{{ clazz.mainTeacher.firstName}} {{ clazz.mainTeacher.lastName}}</td>
    <td><button type="button" class="btn btn-primary" [routerLink]="['/schools/',schoolID,'clazzs',clazz.id]">Details</button></td>
    <td><button type="button" class="btn btn-info" [routerLink]="['/schools/',schoolID,'clazzs',clazz.id,'schedule']">Planning</button></td>
  </tr>
  </tbody>
</table>

<div *ngIf="clazzs.length === 0">
  Il n'y a aucune classe dans cet établissement
</div>
