<!--
<br>
<h3 class="text-center">Gestion des établissement</h3>
<br>

<form [formGroup]="formGroup" (ngSubmit)="submitFormSelectSchool()">
  <br>
  <div id="schools">
    <label>Veuillez selectionner un établissement</label>
    <select formControlName="schoolId" >
      <option *ngFor="let school of schoolsList" value="{{school?.id}}"> {{school?.name}}</option>
    </select>
  </div>
  <br>
  <br>
  <button type="submit">Gérer cet établissement</button>
</form>
<br>
<li class="text-center"><a [routerLink]="['/schools/','add']">Ajouter un établissement</a></li>
<br>
-->




<!--<div class="section">-->
<!--<figure class="card">-->
<!--  <div class="card-hero">-->
<!--    <img class="card-img" src="assets/images/home-icon.png" alt="">-->
<!--    <div class="card-middle">-->
<!--      <p class="card-middle-text">{{school?.name}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{school?.name}}</h5>-->
<!--    <p class="card-text">-->
<!--      Type d'établissement': {{school?.schoolType}}<br>-->
<!--      Adresse: {{school?.address}}<br>-->
<!--      Numéro de téléphone: {{school?.phoneNumber}}<br>-->
<!--      Logo: {{school?.logo}}-->
<!--    </p>-->
<!--    <button [routerLink]="['/schools', school?.id]" type="button" class="btn btn-primary">Gérer cet établissement</button>-->
<!--  </div>-->
<!--  <div class="card-img">-->
<!--    <img src="assets/images/home-icon.png" alt="">-->
<!--  </div>-->
<!--</figure>-->
<!--</div>-->





<div class="card text-black mb-3">
  <div class="card-body">
    <h5 class="card-title">{{school?.name}}</h5>
    <p class="card-text">
      Type d'établissement': {{school?.schoolType}}<br>
      Adresse: {{school?.address}}<br>
      Numéro de téléphone: {{school?.phoneNumber}}<br>
      Logo: {{school?.logo}}
    </p>
    <button [routerLink]="['/schools', school?.id]" type="button" class="btn btn-primary">Gérer cet établissement</button>
  </div>
  <div class="card-img">
    <img src="assets/images/home-icon.png" alt="">
  </div>
</div>
