<app-menu [schoolID]="schoolID"></app-menu>
<br>
<h3 class="text-center">Liste des salles de classe</h3>
<br>
<li class="text-center"><a [routerLink]="['/schools/',schoolID,'classrooms','add']">Ajouter une salle de classe</a></li>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Cours exclus</th>
    <th>Capacité</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let classroom of classrooms">
    <td>{{ classroom.id }}</td>
    <td>{{ classroom.name }}</td>
    <td *ngIf="classroom.excludedLessons==null || classroom.excludedLessons.length === 0"></td>
    <td *ngFor="let classroom of classroom.excludedLessons">{{ classroom?.name}}
      <span *ngIf="classroom?.name !== null && classroom?.name !== ''">{{ classroom?.name }}</span></td>
    <td>{{ classroom.capacity }}</td>
   <td><button type="button" class="btn btn-primary" [routerLink]="['/schools/',schoolID,'classrooms',classroom.id]">Détails</button></td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-secondary" (click)="generatePdf()">Télécharger en PDF</button>
