<app-menu [schoolID]="schoolID"></app-menu>
<h3 class="text-center">Ajouter une classe</h3>
<li class="text-center"><a [routerLink]="['/schools/', schoolID, 'clazzs']">Liste des classes</a></li>
<ul *ngIf="formSubmitted" class="text-md-start">
  <li *ngIf="Form.controls['name'].errors?.['required']">Veuillez entrer le nom de la classe</li>
  <li *ngIf="Form.controls['mainTeacher'].errors?.['required']">Veuillez entrer le nom du professeur principal</li>
</ul>
<div class="wrapper">
<form (ngSubmit)="submitForm()" [formGroup]="Form">
  <div id="clazzName">
    <label for="name">Nom de la classe</label>
    <input formControlName="name" id="name" type="text">
  </div>
  <div id="clazzMainTeacher" formGroupName="mainTeacher">
    <label for="mainTeacher">Veuillez selectionner le/la professeur(e) principal(e) de cette classe</label>
    <select formControlName="id" id="mainTeacher">
      <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.firstName}} {{teacher.lastName}}</option>
    </select>
  </div>

  <button type="submit">Send</button>
</form>
</div>
<pre>
  {{Form.value | json}}
</pre>
Form status: {{Form.valid | json}}
