<app-menu [schoolID]="schoolID"></app-menu>
<h3 class="text-center">Details de la matière {{lesson?.name}}</h3>
<img src="assets/images/book-icon.png" alt="">
<li class="text-center"><a [routerLink]="['/schools', schoolID ,'lessons']">Liste des matières</a></li>
<div id="details">
<!--  <h4 class="text-center">{{lesson?.name}}</h4>-->
  <ul>
    <li><b>Id:</b> {{lesson?.id}}</li>
    <li><b>Nom :</b> {{lesson?.name}}</li>
    <li><b>Couleur :</b> {{lesson?.color}}</li>
  </ul>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Attention</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Voulez-vous vraiment supprimer la matière {{lesson?.name}}?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="DeleteLesson()" class="btn btn-outline-dark" type="button">OUI</button>
    <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="button">NON</button>
  </div>
</ng-template>
<button id="btnDelete" (click)="open(content)" class="btn btn-lg btn-outline-dark" type="reset">Supprimer la matière</button>

