<app-menu [schoolID]="schoolID"></app-menu>
<h3 class="text-center">Liste des matières</h3>

<li class="text-center"><a [routerLink]="['/schools/',schoolID,'lessons','add']">Ajouter une matière</a></li>
<br>
<table  *ngIf="lessons.length > 0" class="table table-striped">
  <thead>
  <tr class="text-center">
    <th>Id</th>
    <th>Nom</th>
    <th>Couleur</th>
    <th class="button"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lesson of lessons">
    <td>{{ lesson.id }}</td>
    <td>{{ lesson.name }}</td>
    <td>{{ lesson.color }}</td>
    <button type="button" class="btn btn-primary" [routerLink]="['/schools/',schoolID,'lessons',lesson.id]">Details</button>
  </tbody>
</table>
<div *ngIf="lessons.length === 0">
  Il n'y a aucune lesson enseigée dans cet établissement
</div>

