<app-menu [schoolID]="schoolID"></app-menu>
<h3 class="text-center">Détails de la salle {{classroom.name}}</h3>
<li class="text-center"><a [routerLink]="['/schools', schoolID , 'classrooms']">Liste des salles de classes</a></li>

<div id="details">
<!--  <h4 class="text-center"> {{classroom.name}}</h4>-->
  <ul>
    <li><b>Capacite:</b> {{classroom.capacity}} eleves maximum</li>
    <br>
    <li>
        <b>Matieres exclues de cette salle:</b>
        <ul *ngIf="classroom.excludedLessons.length > 0" id="matexcl">
          <li *ngFor="let excludedLesson of classroom.excludedLessons">{{excludedLesson.name}}<li>
        </ul>
        <div *ngIf="classroom.excludedLessons.length === 0">
            Tous les cours sont permis
        </div>
    </li>
  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Attention</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        Voulez-vous vraiment supprimer la salle {{classroom.name}}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="DeleteClassroom()" class="btn btn-outline-dark" type="button">OUI</button>
    <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="button">NON</button>
  </div>
</ng-template>
<button id="btnDelete" (click)="open(content)" class="btn btn-lg btn-outline-dark" type="reset">Supprimer la salle</button>
