<app-menu [schoolID]="schoolID"></app-menu>
<br>
<h3 class="text-center">Liste des professeurs</h3>
<br>
<li class="text-center"><a [routerLink]="['/schools/', schoolID, 'teachers', 'add']">Ajouter un(e) professeur(e)</a></li>
<br>
<table *ngIf="teachers.length > 0" class="table table-striped">
  <thead>
  <tr>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Date de naissance</th>
    <th>Matieres enseignee</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let teacher of teachers">
    <td>{{ teacher.firstName }}</td>
    <td>{{ teacher.lastName }}</td>
    <td>{{ teacher.dob }}</td>
    <td>
      <div *ngIf="teacher.lessons.length > 0" #lessons>
        <span *ngFor="let lesson of teacher.lessons">{{lesson.name}} / </span>
      </div>
      <ul *ngIf="teacher.lessons.length === 0" #lessons>
        Aucune matière enseignée
      </ul>
    </td>
    <td><button type="button" class="btn btn-primary" [routerLink]="['/schools/', schoolID, 'teachers', teacher.id]">Détails</button></td>
    <td><button type="button" class="btn btn-info" [routerLink]="['/schools/',schoolID,'teachers',teacher.id, 'teacher', 'schedules']">Planning</button></td>
  </tr>
  </tbody>
</table>
<div *ngIf="teachers.length === 0"  style="text-align: center">
  Il n'y a aucun enseignant dans cet établissement
</div>
<br>
<button *ngIf="teachers.length > 0" type="button" class="btn btn-secondary" (click)="generatePdf()">Exporter en PDF</button>
