<app-menu [schoolID]="schoolID"></app-menu>
<br>
<h3 class="text-center">Ajouter une salle de classe</h3>
<li class="text-center"><a [routerLink]="['/schools/', schoolID, 'classrooms']">Liste des salles de classes</a></li>
<ul *ngIf="formSubmitted" class="text-md-start">
  <li *ngIf="Form.controls['name'].errors?.['required']">Veuillez entrer le nom de la salle de cours</li>
  <li *ngIf="Form.controls['capacity'].errors?.['required']">Veuillez indiquer la capacite de la salle</li>
  <li *ngIf="Form.controls['capacity'].errors?.['min']">La capacite de la salle doit etre comprise entre 0 et 100</li>
  <li *ngIf="Form.controls['capacity'].errors?.['max']">La capacite de la salle doit etre comprise entre 0 et 100</li>
</ul>
<br>
<form (ngSubmit)="submitForm()" [formGroup]="Form">
  <div id="classroomName">
    <label for="name">Nom de la salle de cours</label>
    <input formControlName="name" id="name" type="text">
  </div>
  <br>

  <div formArrayName="excludedLessons">
    <div *ngFor="let l of excludedLesson.controls; let i = index" [formGroupName]="i">
      <label for="lessonId">Veuillez selectionner les cours a exclure de cette salle de cours</label>
      <select multiple formControlName="id" id="lessonId">
        <option *ngFor="let lesson of lessons" [value]="lesson.id">{{lesson.name}}</option>
      </select>
    </div>
  </div>


  <br>
  <div id="classroomCapacity">
    <label for="capacity">Capacite de la salle de cours</label>
    <input formControlName="capacity" id="capacity" type="number">Eleves
  </div>
  <br>
  <button type="submit">Send</button>
</form>
<pre>
  {{Form.value | json}}
</pre>
Form status: {{Form.valid | json}}
