<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<body>
<nav class="sidebar">
  <h3>MENU</h3>
  <li> <a routerLink="/home"><img src="assets/images/home-icon.png" alt="">Accueil</a></li>
<!--  <li> <a routerLink="/schools"><img src="assets/images/parameter-icon.png" alt="">Parametrage de l'etablissement</a></li>-->
  <li> <a [routerLink]="['/schools/',schoolID.toString()]"><img src="assets/images/parameter-icon.png" alt="">Parametrage de l'etablissement</a></li>
  <li> <a [routerLink]="['/schools/',schoolID.toString(),'lessons']"><img src="assets/images/book-icon.png" alt="">Gestion des matieres</a></li>
  <li> <a [routerLink]="['/schools/',schoolID.toString(),'classrooms']"><img src="assets/images/room-icon.png" alt="">Gestion des salles de classe</a></li>
  <li> <a [routerLink]="['/schools/',schoolID.toString(),'clazzs']"><img src="assets/images/students-icon.png" alt="">Gestion des classes</a></li>
  <li> <a [routerLink]="['/schools/',schoolID.toString(),'teachers']"><img src="assets/images/teacher-icon.png" alt="">Gestion des professeurs</a></li>
</nav>
</body>

