<br>
<h3 class="text-center">{{school?.name | uppercase}}</h3>
<br>
<div id="details">
  <h4 class="text-center"> {{school?.name}}</h4>
  <ul>
    <li><b>Id:</b> {{school?.id}}</li>
    <li><b>Adresse:</b> {{school?.address}}</li>
    <li><b>Type d'établissement:</b> {{school?.schoolType}}</li>
    <li><b>Numéro de téléphone:</b> {{school?.phoneNumber}}</li>
    <li><img src="{{school?.logo}}"></li>
  </ul>
  <ul>
    <li class="text-center"><b>Nombre de professeurs:</b> {{teachersList.length}}</li>
    <li class="text-center"><b>Nombre de matières enseignées:</b> {{lessonsList.length}}</li>
    <li class="text-center"><b>Nombre de classes</b> {{clazzsList.length}}</li>
    <li class="text-center"><b>Nombre de salles classe</b> {{classroomsList.length}}</li>
  </ul>
</div>
